<h1> placeholder, should show place and any entries for that place if any </h1>

<p> <a href="https://3000-nglmtyln-hw3-mjjdahess1i.ws-us108.gitpod.io/">  <strong> Back to Places You've Been To <strong> </a> </p>